//META{"name":"Discord recolored","description":"An theme","author":"A user#9868","version":"1.1"}*//{}

:root {
	--settingscustombackground: url(https://images4.alphacoders.com/909/909912.png) !important;
	--drawercustombackground: url(https://images4.alphacoders.com/909/909912.png) !important;
	--iconcolor: red !important; /*pls dont put white/black or i kill u*/
	--plus-findservers-color: white !important;
}


/*Gaming*/
.activity-11LB_k{
    background-color: #2a2e31;
}
.theme-dark .activityProfile-2bJRaP .content-3JfFJh, .theme-dark .activityProfile-2bJRaP .details-38sfDr, .theme-dark .activityProfile-2bJRaP .name-29ETJS, .theme-dark .activityUserPopout-2yItg2 .content-3JfFJh, .theme-dark .activityUserPopout-2yItg2 .details-38sfDr, .theme-dark .activityUserPopout-2yItg2 .name-29ETJS, .theme-light .activityProfile-2bJRaP .content-3JfFJh, .theme-light .activityProfile-2bJRaP .details-38sfDr, .theme-light .activityProfile-2bJRaP .name-29ETJS, .theme-light .activityUserPopout-2yItg2 .content-3JfFJh, .theme-light .activityUserPopout-2yItg2 .details-38sfDr, .theme-light .activityUserPopout-2yItg2 .name-29ETJS{
    color: var(--iconcolor);
}
.theme-dark .activityProfile-2bJRaP .headerText-1HLrL7, .theme-dark .activityUserPopout-2yItg2 .headerText-1HLrL7, .theme-light .activityProfile-2bJRaP .headerText-1HLrL7, .theme-light .activityUserPopout-2yItg2 .headerText-1HLrL7{
    color: var(--iconcolor);
}

.activityName-1IaRLn{
    color: var(--iconcolor);
}

.userPopout-3XzG_A {
    box-shadow:
		0 2px 25px 0 #7289da,
		0 0 0 1px rgba(32,34,37,.6);
}

.theme-dark .actionButton-VzECiy {
	border-color: var(--iconcolor);
	color: var(--iconcolor);
}

.theme-dark .container-VSDcQc .headerText-3i6A8K {
    color: var(--iconcolor);
}

.theme-dark .autocompleteArrow-Zxoy9H, .theme-dark .autocompleteShadow-iiGWFU {
    box-shadow: 
		0 2px 25px 0 #7289da,
		0 0 0 1px rgba(32,34,37,.6);
}

/*Spotify*/

.bar-3urHkF{
    background-color: #43b5817a;
}

.barInner-3NDaY_{
    background-color: #43b581;
}

.text-AOoUen{
    color: #43b581;
}

.bodyTitle-Y0qMQz{
    color: var(--iconcolor);
}

/*Profile*/
.headerFill-adLl4x {
    background-color: #2a2e31;
}

.userInfoSectionHeader-CBvMDh {
    color: var(--iconcolor);
}

/*BotTag*/

.botTagRegular-2HEhHi{
    background: #00000000;
    color: var(--iconcolor);
	opacity: 0.99;
}

.botTagInvert-18-95s{
    background: #00000000;
    color: #ffffff;
}

/*Emoji Picker*/

.emojiPicker-3m1S-j .category-2U57w6{
	color: #7289da;
}

.searchBar-2_Yu-C.searchBarLight-1NxoDG{
	background-color: #7289da;
}

.searchBar-2_Yu-C.searchBarLight-1NxoDG input{
	color: #ffffff;
}

.emojiPicker-3m1S-j .header-1nkwgG{
	background-color: #7289da;
}

/*Other*/

.privateChannels-1nO12o header{
	opacity: 1;
	color: var(--iconcolor);
}

.theme-dark .header-2RyJ0Y{
	color: var(--iconcolor);
	opacity: 0.6;
}

.theme-dark .separator-gCa7yv{
	background-color: var(--iconcolor);
	opacity: 0.6
}

.theme-dark .defaultColor-1_ajX0{
	color: var(--iconcolor);
}

.theme-dark .title-2a5mvx .itemSelected-1qLhcL .theme-dark .topPill-30KHOu .itemSelected-1qLhcL{
	color: white;
}

.theme-dark .topPill-30KHOu .itemSelected-1qLhcL {
	
}

.theme-dark .subtitle-UfhpvR{
	color: var(--iconcolor);
}

.sidebarRegionScroller-3MXcoP{ /*the best change*/
	background: var(--settingscustombackground);
}

.theme-dark .closeButton-1tv5uR{
	border-color: var(--iconcolor);
}

.theme-dark .keybind-KpFkfr {
	color: var(--iconcolor);
}

.breadcrumb-22XhB5.breadcrumb-22XhB5{
	color: var(--iconcolor);
}

.breadcrumbArrow-1bJVKv{
	color: var(--iconcolor);
}

.theme-dark .top-28JiJ- .itemSelected-1qLhcL{
	border-bottom-color: var(--iconcolor) !important;
	color: var(--iconcolor) !important;
}

.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-thumb {
    background-color: var(--iconcolor);
}

.theme-dark .iconForeground-3y9f0B, .theme-dark .title-1aVOX{
	color: var(--iconcolor);
}

.theme-dark .topPill-30KHOu .itemSelected-1qLhcL {
    background-color: var(--iconcolor);
    color: #fff;
}

.iconInactive-g2AXfB {
	opacity: 1;
}

.theme-dark .header-ykumBX .title-3pkaKd {
    color: var(--iconcolor);
}

.theme-dark .mentionFilter-1PQ6ey .value-2k8Drt {
    color: var(--iconcolor);
}

.theme-dark .channelName-3kBz6H {
    color: var(--iconcolor);
}

.popout-3sVMXz{
	box-shadow: 
		0 2px 25px 0 var(--iconcolor),
		0 0 0 1px rgba(32,34,37,.6);
}

.channelIcon-MsmKOO{
	color: var(--iconcolor);
}

.modalTitle-37O4n6 .content-2Add9f {
    margin-right: 20px;
    color: var(--iconcolor);
}

.theme-dark .keyboardShortcutList-13cQ-8 .keybindGroup--6Qp-w .keybindDescription-2RDbC2{
	color: var(--iconcolor);
}

.header-QKLPzZ {
    background-color: #5b6dae;
}

.wrapper-232cHJ{
	border-radius: 15px;
	webkit-box-shadow: 0 1px 0 rgba(0,0,0,0), inset 0 0px 0 hsla(0,0%,0%,0);
	box-shadow: 0 1px 0 rgba(0,0,0,0), inset 0 0px 0 hsla(0,0%,0%,0);
	background-color: var(--iconcolor);
}

.theme-dark .unreadMentionsBar-1VrBNe{
	border-radius: 15px;
	webkit-box-shadow: 0 1px 0 rgba(0,0,0,0), inset 0 0px 0 hsla(0,0%,0%,0);
	box-shadow: 0 1px 0 rgba(0,0,0,0), inset 0 0px 0 hsla(0,0%,0%,0);
}

.theme-dark .guild-1EfMGQ.selected-ML3OIq:before{
	background: var(--iconcolor);
}

.theme-dark .guildsWrapper-5TJh6A {
    background-image: var(--drawercustombackground);
}

.scroller-2TZvBN {
	background-image: var(--drawercustombackground);
}

.theme-dark .guild-1EfMGQ .guildInner-3DSoA4{
	background: transparent;
}

.guildInner-3DSoA4 {
	background: transparent;
}

.content-20Aix8{
	border-radius: 15px;
}

.side-8zPYf6 .item-PXvHYJ {
	border-radius: 15px;
}

.button-2b6hmh {
	border-radius: 15px;
}

.search-2oPWTC .searchBar-3dMhjb {
	border-radius: 15px;
	padding-right: 5px;
    padding-left: 5px;
}

.member-3W1lQa {
	border-radius: 30px;
}

.button-38aScr {
	border-radius: 30px;
}

.innerNoAutocomplete-1WpcVO {
	    border-radius: 30px;
}

.newMessagesBar-mujexs {
	border-radius: 15px;
	margin: 5px 5px 5px 10px;
}

.accountDetails-3k9g4n .discriminator {
	opacity: 1;
    color: var(--iconcolor);
}

.citar-btn {
	border-radius: 15px;
	background-color: transparent;
}

.contentSelectedText-3wUhMi, .contentSelectedVoice-1WDIBM {
	background-color: var(--iconcolor);
}

.colorConnectedText-1c_uzY, .colorConnectedVoice-3kyvUN, .colorDefaultText-oas-QM, .colorDefaultVoice-3wYlhb, .colorHoveredText-OZnAgu, .colorHoveredVoice-1kucsK, .colorLockedText-1VRkPt, .colorLockedVoice-2UlBjl, .colorSelectedText-1y4Wvs, .colorSelectedVoice-Xcb_9R, .colorUnreadText-2t7XRb, .colorUnreadVoice-137o4S {
	color: var(--iconcolor);
}

.card-3Qj_Yx {
	border-radius: 40px;
}

.theme-dark .h5-18_1nd {
    color: var(--iconcolor);
}
.input-cIJ7To {
	border-radius: 30px;
}

.Select .Select-control{
	border-radius: 30px;
}

.questionMark-CWEQZn {
	border-radius: 30px;
}

.headerSpotify-zpWxgT {
	color: #202225;
	background-color: #7289da;
}

.bar-30k2ka {
	border-radius: 30px;
}

.unreadBar-3YD_k9 {
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0);
    box-shadow: 0 1px 3px transparent;
}

.lookOutlined-3sRXeN.colorRed-1TFJan {
    background-color: #ff3232;
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
}

.theme-dark .separator-2zcjq8 {
    border-bottom-color: transparent;
}

.theme-dark .item-1GzJrl {
    color: white;
}

.nameMutedText-3Vj4bM, .nameMutedVoice-3oxyQZ {
    color: rgba(255, 255, 255, 0.15);
}

.colorMutedText-36M8WR, .colorMutedVoice-3ghIuw {
    color: rgba(255, 255, 255, 0.15);
}

.theme-dark .iconForeground-3y9f0B, .theme-dark .title-1aVOXw {
    color: var(--iconcolor);
}

.theme-dark .headerText-2niCs_ {
    color: var(--iconcolor);
}

.card-7JP0BX {
    border-radius: 15px;
}

.gameIcon-gg34Dz {
    border-radius: 30px;
}

.dockIcon-1aEfsH {
    border-radius: 300px;
}

.headerButtonColor-G7_f-V {
    color: #43b581;
}

.channel-2QD9_O a {
    border-radius: 30px;
}

.theme-dark .card-7JP0BX {
    color: var(--iconcolor);
}

.theme-dark .topPill-30KHOu .itemSelected-1qLhcL {
    color: white;
}

.friendsTable-133bsv .friendsRow-2yicud .friendsColumnActions-1LT3_M .friendsAction-__WNE9 {
    border-radius: 30px;
}

.tabBar-1E2ExX .primary-3j8BhM {
    background-color: white !important;
    color: #7289da !important;
}

.theme-dark .username-XRo90I {
    color: var(--iconcolor);
}

.searchBox-3Y2Vi7 {
    border-radius: 30px;
}

.searchBox-26HYGw {
    width: 100%;
}

.sectionHeader-1Hee-5 {
	color: #7289da;
}

.mainHeader-1i17pL {
	color: #7289da;
}

.theme-dark .title-OqQvkN, .theme-light .title-OqQvkN {
	color: #7289da;
}

.theme-dark .memberInfo-3r4FKx, .theme-light .memberInfo-3r4FKx {
    color: #43b58194s;
}

.theme-dark .embedTitleLink-1Zla9e {
    color: #7289da!important;
}

.theme-dark .topPill-30KHOu .item-PXvHYJ { 
	color: white;
}

.theme-dark .separator-gCa7yv {
	background-color: white;
}

.anchor-3Z-8Bb {
    color: var(--iconcolor);
}

.theme-dark .welcomeMessage-3_Mcht a {
    color: var(--iconcolor);
}

a {
    color: #7289da;
}

.aka-1mqp34 {
    border-radius: 15px;
}

.theme-dark .membersGroup-v9BXpm {
	color: var(--iconcolor);
}

.theme-dark .gameName-1W6Ym- {
    color: var(--iconcolor);
}

.theme-dark .playersHeader-3xUYAQ {
    color: var(--iconcolor);
}

.gamePreview-9weYR2 {
    border-radius: 50px;
}

.theme-dark .mobileIndicator-329Gd6 {
    color: var(--iconcolor);
	opacity: 0.8;
}

.theme-dark .mobileIndicatorPrimary-2viufb {
    color: #7289da;
}

.uploadModal-2ifh8j {
    background-color: #18191c;
}

.uploadModal-2ifh8j .footer-3mqk7D {
    background-color: #2f3136;
}

.theme-brand .inner-zqa7da {
    background-color: #2f3136;
}

.modal-3HD5ck {
    border-radius: 30px;
}

.theme-dark .activityIconForeground-qYIPPg {
    fill: var(--iconcolor);
	opacity: 0.7;
}

.isMentionedCozy-3isp7y:after {
    border-radius: 15px 0 0 15px;
}

.isMentionedCozy-3isp7y {
    border-radius: 0 5px 5px 0;
    position: relative;
}

.reaction-1ELvT8 {
	border-radius: 15px;
}

.spoilerText-3p6IlD {
    border-radius: 15px;
}

.markup-2BOw-j pre {
    -webkit-box-sizing: border-box;
    border-radius: 15px;
}

.theme-dark .markup-2BOw-j pre {
    background: #7289da;
	border-color: transparent;
}

.theme-dark .markup-2BOw-j code, .theme-dark .markup-2BOw-j code.inline {
    border-radius: 15px;
}

.footer-2yfCgX {
    border-radius: 0 0 30px 30px;
}

.theme-dark .message-2qRu38 {
    border-radius: 40px;
}

.imageWrapper-2p5ogY {
    border-radius: 10px;
}

.onlineCount-w6_WmG {
	color: #28B87C;
}

.assetsLargeImage-eYwpTX {
    border-radius: 30px;
}

.mobileIndicator-3gyhuE {
	color: var(--iconcolor);
	opacity: 0.9
}

.theme-dark .mobileIndicator-U-7hTl {
    color: var(--iconcolor);
	opacity: 0.9;
}

.maxLength-39QFBo {
    color: #7289da;
    font: Courier;
}

#app-mount .emojiPicker-3m1S-j ::placeholder {
    color: #7289da !important;
}

.wordmark-2iDDfm svg path {
    fill: var(--iconcolor);
}

.winButtonMinMax-PBQ2gm svg rect {
    fill: var(--iconcolor);
	stroke: var(--iconcolor);
}

.winButtonClose-1HsbF-.winButton-iRh8-Z.flexCenter-3_1bcw.flex-1O1GKY.justifyCenter-3D2jYp.alignCenter-1dQNNs.da-winButtonClose.da-winButton.da-flexCenter.da-flex.da-justifyCenter.da-alignCenter:not(:hover) svg polygon {
	fill: var(--iconcolor);
}

.lookFilled-1Gx00P.colorBrand-3pXr91 {
	background-color: var(--iconcolor);
}

.barFill-23-gu- {
	background-color: var(--iconcolor);
}

.themeDefault-24hCdX.valueChecked-m-4IJZ {
	background-color: var(--iconcolor);
}

.newMessagesBar-mujexs {
    background-color: var(--iconcolor);
}

.theme-dark .markup-2BOw-j pre {
    background: var(--iconcolor);
    border-color: transparent;
}

.uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr.image-2yrs5j {
    border: 2px solid var(--iconcolor);
}

.uploadModal-2ifh8j .inner-3nWsbo {
    border: 2px dashed var(--iconcolor);
}

.theme-dark .selected-nT-gM3:before {
    background: var(--iconcolor);
}

.theme-dark .circleIconButton-jET_ig {
    background: transparent;
	border-color: var(--plus-findservers-color);
    color: var(--plus-findservers-color);
}

.header-2o-2hj {
	color: var(--iconcolor);
}

.popout-open .header-2o-2hj {
    background-color: var(--iconcolor);
	color: white;
}

.hasDropdown-2invhV .header-2o-2hj:hover {
    background-color: var(--iconcolor);
	color: white;
}

.mention-1f5kbO {
    background-color: var(--iconcolor);
	opacity: 0.8;
}

.mention-1f5kbO:hover {
    background-color: var(--iconcolor);
	opacity: 1;
}

.theme-dark .checked-3_4uQ9 {
    border-color: var(--iconcolor) !important;
}

.checkbox-1ix_J3.flexCenter-3_1bcw.flex-1O1GKY.justifyCenter-3D2jYp.alignCenter-1dQNNs.da-checkbox.da-flexCenter.da-flex.da-justifyCenter.da-alignCenter.box-mmYMsp.checked-3_4uQ9.da-checked svg g polyline {
	stroke: var(--iconcolor);
}

.side-8zPYf6 .itemSelected-1qLhcL {
	background-color: var(--iconcolor);
}

.theme-dark .separator-gCa7yv {
    background-color: var(--iconcolor);
}

.theme-dark .guild-1EfMGQ .guildInner-3DSoA4:hover {
    background-color: var(--iconcolor) !important;
}

.button-38aScr.da-button.lookInverted-2D7oAl.colorBrand-3pXr91.sizeMedium-1AC_Sl.grow-q77ONN.da-grow.lookInverted-2D7oAl.colorBrand-3pXr91 {
    background-color: var(--iconcolor);
    color: white;
}

.tooltip-1OS-Ti {
  color: var(--iconcolor) !important;
}

.theme-dark .guildsAdd-21_IdK {
	background: transparent;
	border-color: var(--iconcolor);
    color: var(--iconcolor);
}

.guildsAdd-21_IdK:hover {
	border-color: var(--iconcolor);
    color: var(--iconcolor);
	border-width: 2px;
}

/*Settings Rotation*/

.da-button:hover [name*="Gear"] {
	animation-name: spinRight;
	animation-duration: 250ms;
	animation-iteration-count: 1;
	animation-timing-function: linear;
	color: var(--iconcolor);
}

.da-button:not(:hover) [name*="Gear"] {
	animation-name: spinLeft;
	animation-duration: 250ms;
	animation-iteration-count: 1;
	animation-timing-function: linear;
	color: #fff;
}

@keyframes spinRight {
	from {
		transform: rotate(0deg);
		color: #fff;
	} to {
		transform: rotate(180deg);
		color: var(--iconcolor);;
	}
}

@keyframes spinLeft {
	from {
		transform: rotate(180deg);
		color: var(--iconcolor);
	} to {
		transform: rotate(0deg);
		color: #fff;
	}
}

/*BBD*/

.theme-dark #bd-settingspane-container h2.ui-form-title {
	color: var(--iconcolor);
}

.theme-dark #bd-settings-sidebar .ui-tab-bar-header {
	color: var(--iconcolor);
}

.theme-dark #bd-settings-sidebar .ui-tab-bar-separator {
	background-color: var(--iconcolor);
	opacity: 0.6;
}

.bd-pfbtn {
	background: #00000000;
    color: var(--iconcolor);
}

#bd-settings-sidebar .ui-tab-bar-item {
	border-radius: 15px;
}

.bda-slist .bda-footer button {
	border-radius: 15px;
}

.contentRegion-3nDuYy #bd-customcss-attach-controls, #bd-customcss-detach-container #bd-customcss-attach-controls {
    background: var(--iconcolor);
}

.standardSidebarView-3F1I7i #bd-customcss-attach-controls button, .bd-detached-css-editor #bd-customcss-attach-controls button {
    background: var(--iconcolor);
	border-radius: 15px !important;
	border-right: 1px solid var(--iconcolor) !important;
	border-left: 1px solid var(--iconcolor) !important;
}

.ace-monokai {
	border-radius: 15px 15px 0px 0px;
}

.contentRegion-3nDuYy #bd-customcss-attach-controls, #bd-customcss-detach-container #bd-customcss-attach-controls {
	border-radius: 0px 0px 15px 15px;
}

.bda-dark #bda-qem button.active {
    background: #7891ea;
    border-left: 0px solid transparent;
    box-shadow: #424242 1px 0 0 0;
    color: #fff;
}

.bda-dark #bda-qem button:hover {
    background: #7289da7d;
    border-left: 0px solid transparent;
    box-shadow: #424242 1px 0 0 0;
    color: #fff;
}

#bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch.checked {
	background: var(--iconcolor);
}

.bda-slist .bda-footer button {
	background: var(--iconcolor);
}

.checkbox-1ix_J3.flexCenter-3_1bcw.flex-1O1GKY.justifyCenter-3D2jYp.alignCenter-1dQNNs.box-mmYMsp.checked-3_4uQ9 svg g polyline {
	stroke: var(--iconcolor);
}

.theme-dark #bd-settings-sidebar .ui-tab-bar-item.selected {
	background: var(--iconcolor);
}
